.contact {
  margin-bottom: 3x;
  &__text {
    width: 225px;
    height: 80px;
  }
  &__h3 {
    margin-bottom: 10px;
    color: rgb(184, 180, 180);
  }
  &__h2 {
    margin-bottom: 30px;
    margin-left: 60px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.ifrem {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    gap: 50px;
  }
}

.ifrem {
  margin-top: 50px;
}
