.hero2 {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    &__text {
      height: 100px;
    }
    &__img {
      display: flex;
      justify-content: center;
    }

    align-items: center;
  }
  &__list {
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }
}
