.work {
  &__title {
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 480px) {
 justify-content: center;
    }
  }
  &__item {
    @media screen and (max-width: 480px) {
      max-width: 320px;
    }
    img {
      width: 100%;
    }
  }
}
